@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");


header {
  background: #630056;
  color: rgb(255, 255, 255);
font-size: 20px;
height: 150px;
position:relative; 
} 


header h1
{
 color: rgb(255, 255, 255);
align-items: center;
margin-top:-155px;
}


.title
{
  text-decoration:wavy;
font-size:40px;
padding-left: 250px;
position: relative;
right: -210px;
top: 50px;
}
 
 body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000; 
      margin:0;
      padding:0;
      height:100%;
   
  }

    .footer-container .copy-right
 {align-items: center;} 

.footer-container
{
  color: white;
  font-weight: bold;
  background: #630056;
  text-align: center;
   bottom:0;
   width:100%;
   height:60px;
   align-items: center;}
   body form 
   { background-color:rgb(255, 73, 149);
    width: 300px;
    padding: 50px;
    margin: 20px;
  }
 .form {
  width: 100%;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
} 
header nav
{
  
font-size:24px;
padding-left: 250px;
position: relative;
right: -900px;
top: -5px;
}
a{

  color: white;
}
#allEmployeesDiv {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap : 50px;
  justify-items: center
 }








.divShow img
{
width: 150px;
height: 150px;
position: relative;
top: 1px;
left: 70px;
}

 .emps-cards {
  width: 150%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  grid-gap: 3rem 2rem;
  font-size: large;
  position: relative;
  left: 450px;
}

.main-container {
  width: 100%;
  min-height: 73vh;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;

}
/* thead
{
font-size: x-large;
background-color: rgb(255, 62, 120);

}
tfoot
{

  font-weight: 100px;
} */
.employees-info-table {
  width: 100%;
  border: 1px solid var(--my-white);
  font-size: 2rem;
  border-collapse: collapse;
  margin-top: 5rem;
  text-align: center;

}

.employees-info-table td,
.employees-info-table th {
  border: 1px solid var(--my-white);
  height: 100px;
}

.employees-info-table td {

  font-size: 1.4rem;
  font-style: normal;
}


.show img{
  background-color: azure;
width: 100px;
height:100px;
}
#allEmployeesDiv .divShow {
background-color: rgb(255, 228, 243);
  border: 2px solid #630056;
  height: 400px;
  width: 300px;
  justify-items: center;
} 




.emp-info {
  width: 100%;
  padding: 10px 5px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
  text-align: center;
}

h3 {
  color: #630056;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.emp-info p {
  background: var(--baby-blue);
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  padding: 10px 0;
}
.emp-info p span {
  position: absolute;
  left: 2%;
  color: var(--primary-color);
  font-weight: bold;
}
