
 #header {
  background: #630056;
  color: rgb(255, 255, 255);
font-size: 20px;
padding:10px;

  /* position:relative; */
height: 150px; 
} 
#container {
  min-height:100%;
  position:relative;
}

.img
{
height: 150px;
width :150px;
padding-left: 15px;
position:relative;
top: -100px;
}

.title
{
  text-decoration:wavy;
font-size:40px;
padding-left: 250px;
position: relative;
right: -210px;
top: 50px;



}
 
 body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000; 
      margin:0;
      padding:0;
      height:100%;
   
  }

  #body {
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
 }
  a {
    text-decoration: none;
    color: #fff;
  }
  .container {
    max-width: 1140px !important;
    margin: auto;
    padding: 0 2rem;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
  .nav-links
  {
    position: relative;
    top: -230px;
    right: -1200px;
    color: aqua;
    font-style: unset;
  }
 

footer {
  color: white;
  font-weight: bold;
  
  background: #630056;
   /* position:absolute; */
   bottom:0;
   width:100%;
   height:60px; }
.divShow img
{
width: 150px;
height: 150px;;

}
#footer-container
{

  bottom:0;
}